ul, ol {
	margin: 0 0 1.5em 0;

	@include mq($from: tablet) {
		margin: 0 0 1.5em 1em;
	}

	@include mq($from: desktop) {
		margin: 0 0 1.5em 2em;
	}
}

ul {
	list-style: disc;
}

ol {
	list-style: decimal;
}

li > ul,
li > ol {
	margin-bottom: 0;
	margin-left: 1em;
}

dt {
	font-weight: $font__weight-bold;
}

dd {
	margin: 0 1em 1.5em;
}
