// Rem output with px fallback
@mixin font-size($sizeValue: 1) {
	font-size: $sizeValue + px;
	font-size: ($sizeValue / 16) + rem;
}

// Center-align a block level element.
@mixin center-block() {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

// Clearfix.
@mixin clearfix() {
	&::before,
	&::after {
		content: " ";
		display: table;
	}

	&::after {
		clear: both;
	}
}

// Clear after (not all clearfix need this also)
@mixin clearfix-after() {
	clear: both;
}

// Show for mobile devices.
%show-for-mobile,
.show-for-mobile {
	display: inherit;
	visibility: visible;

	@include mq($from: tablet) {
		display: none;
		visibility: hidden;
	}
}

// Hide for mobile devices.
%hide-for-mobile,
.hide-for-mobile {
	display: none;
	visibility: hidden;

	@include mq($from: tablet) {
		display: inherit;
		visibility: visible;
	}
}

// Reset text in content area.
@mixin reset-text() {
	font-family: $font-family-base;
	font-style: normal;
	font-weight: normal;
	letter-spacing: normal;
	line-break: auto;
	line-height: $line-height-base;
	text-align: left;
	text-align: start;
	text-decoration: none;
	text-shadow: none;
	text-transform: none;
	white-space: normal;
	word-break: normal;
	word-spacing: normal;
	word-wrap: normal;
}

// Tables.
@mixin table-row-variant($state, $background) {
	// Exact selectors below required to override `.table-striped` and prevent
	// inheritance to nested tables.
	.table > thead > tr,
	.table > tbody > tr,
	.table > tfoot > tr {
		> td.#{$state},
		> th.#{$state},
		&.#{$state} > td,
		&.#{$state} > th {
			background-color: $background;
		}
	}

	// Hover states for `.table-hover`
	// Note: this is not available for cells or rows within `thead` or `tfoot`.
	.table-hover > tbody > tr {
		> td.#{$state}:hover,
		> th.#{$state}:hover,
		&.#{$state}:hover > td,
		&::hover > .#{$state},
		&.#{$state}:hover > th {
			background-color: darken($background, 5%);
		}
	}
}

@mixin text-hide() {
	font: 0/0 a;
	color: transparent;
	text-shadow: none;
	background-color: transparent;
	border: 0;
}

// 1/4 width on Desktop and adjust appropriately based on device size.
@mixin one-quarter {
	@include span-columns(3);
	@include omega(3n);
}

// 1/4 width on Desktop - no omegas - useful for mixing with other mixins such as one quarter + three quarter.
@mixin one-quarter-nom {
	@include span-columns(3);
}

// 3/4 width on Desktop and adjust appropriately based on device size.
@mixin three-quarters {
	@include span-columns(9);
	@include omega(3n);
}

// 3/4 width on Desktop - no omegas - useful for mixing with other mixins such as one quarter + three quarter.
@mixin three-quarters-nom {
	@include span-columns(9);
}

@mixin one-fifth-nom {
	@include span-columns(1 of 5);
}

@mixin four-fifths {
	@include span-columns(4 of 5);
	@include omega(5n);
}

// 1/3 width on Desktop
@mixin one-third {

	@include mq($from: mobile) {
		@include span-columns(4);
		@include omega(1n);
	}

	@include mq($from: desktop) {
		@include span-columns(4);
		@include omega(3n);
	}
}

// 1/3 width on Desktop - no omega
@mixin one-third-nom {
	@include span-columns(4);

	@include mq($from: desktop) {
		@include span-columns(3.66);
	}
}

// 2/3 on Desktop - no omega.
@mixin two-thirds-nom {
	@include span-columns(8);

	@include mq($from: desktop) {
		@include span-columns(8.33);
	}
}

// 1/2 on Desktop.
@mixin one-half {
	@include span-columns(6);
	@include omega(1n);

	@include mq($from: desktop) {
		@include span-columns(6);
		@include omega(2n);
	}
}

// 1/2 on Desktop - no omega.
@mixin one-half-nom {
	@include span-columns(6);

	@include mq($from: desktop) {
		@include span-columns(6);
	}
}

// 100% width.
@mixin full-width {

	@include mq($from: mobile) {
		@include span-columns(12);
	}

	@include mq($from: desktop) {
		@include span-columns(12);
	}
}
