*,
::before,
::after {
	position: relative;
	box-sizing: inherit;
	border: 0 solid;
}

::before,
::after {
	vertical-align: inherit;
	text-decoration: inherit;
}

:focus {
	outline: none;
}

::selection {
	background-color: $brand-blue;
	color: $white;
}

body {
	margin: 0;
	padding: 0;
	background: $white;
	vertical-align: baseline;
	font-style: normal;
	font-stretch: normal;
	font-family: $franklin;
}

textarea {
	overflow: auto;

	// Internet Explorer 11+
}

[unselectable] {
	user-select: none;

	// Android 4.4+, Chrome 40+, Firefox 36+, iOS 8+, Safari 8+
}

a {
	color: $brand-blue;
	text-decoration: underline;
	transition: 0.1s;

	&:hover {
		color: $brand-darkblue;
	}
}

table {
	border-spacing: 0;
	border-collapse: collapse;
}

tbody tr:nth-child(even) td,
tbody th:nth-child(even) td {
	background-color: $brand-lightpink;
}

// Global responsive images.
img,
iframe {
	display: block;
	max-width: 100%;
}

img {
	height: auto;
}

figure {
	margin: 0;

	img {
		margin: 0;
	}

	figcaption {
		padding: 8px 0;
	}
}

address {
	font-style: normal;
}

// Global styles for all nav elements.
nav ul {
	margin-top: 0;
	margin-bottom: 0;
	padding: 0;
	list-style: none;
}
