.product {
	display: block;
	margin-bottom: 20px;
}

.product-inner {
	display: inline-block;
	padding: 0 30px;
	width: 100%;
	border: solid 1px $callout-gray;
	background-color: $white;
	box-shadow: 0 2px 4px 0 $callout-gray;

	a {
		text-decoration: none;
	}
}

.product-left {

	@include mq($from: tablet) {

		@include one-half();
		padding-top: 40px;
		margin-bottom: 30px;
	}
}

.product-right {

	@include mq($from: tablet) {

		@include one-half-nom();
		padding: 0;
	}

	&:last-child {

		@include mq($from: tablet) {
			padding-left: 30px;
		}
	}
}

.product-thumbnail {
	display: block;
}

.product-title {
	margin: 10px 0 20px;

	@include mq($from: tablet) {
		margin: 40px 0 24px;
	}

	a {
		color: $dark-gray;
		font-family: $cheltenham;
		font-weight: 200;
		font-size: 24px;
		line-height: 26px;
	}
}

.product-name {
	color: $brand-pink;
	text-decoration: none;
	font-weight: 600;
	font-size: 16px;
	font-family: $franklin;
	line-height: 1.4;

	&:hover {
		color: $brand-darkpink;
	}
}

.product-description {
	margin: 10px 0 20px;
	color: $brand-gray;
	font-weight: 300;
	font-size: 15px;
	line-height: 1.2;
}

.product-pricebox {
	display: block;
	margin: 10px auto;
	border: solid 1px $brand-pink;
	border-radius: 7px;
	background-color: $brand-pink;
	text-align: center;

	&:hover {
		background-color: $brand-darkpink;
	}

	a {
		display: block;
		padding: 10px;
		color: $white;
		font-weight: 700;
		font-size: 16px;
		line-height: 1.2;

		@include mq($from: tablet) {
			padding: 10px 0 9px;
		}
	}
}

.product-disclaimer {
	margin-bottom: 20px;

	p {
		color: $brand-medgray;
		font-weight: 500;
		font-size: 12px;
		line-height: 1.5;
	}
}

.product-align-left {
	float: none;
}

.product-align-right {
	@extend .product-align-left;
}

.multiple-products {

	@include outer-container(100%);

	.product-inner {
		margin-bottom: 20px;

		@include mq($from: tablet) {

			@include one-half-nom();
			margin-bottom: 0;
		}

		&:last-of-type {
			.product-ribbon {
				display: none;
			}
		}
	}
}

.product-ribbon {
	position: absolute;
	top: -10px;
	left: -10px;
	z-index: 99;
	padding: 0 15px;
	min-width: 110px;
	height: 28px;
	border-radius: 49px;
	background-color: $brand-green;
	color: $white;
	text-align: center;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 12px;
	font-family: $karnak;
	line-height: 2;
	letter-spacing: 0.5px;

	&.our-pick {
		padding: 6px;
		min-width: 0;
		width: 75px;
		height: 75px;
		border-radius: 50%;
		font-size: 14px;

		span {
			float: left;
			margin-top: -1.1em;
			padding-top: 50%;
			width: 100%;
			text-align: center;
			line-height: 1.25em;
		}
	}

	&.our-pick::after {
		display: block;
		padding-bottom: 100%;
		width: 100%;
		height: 0;
		border-radius: 50%;
		content: "";
	}

	span {
		line-height: 2.5;
	}

}

.buy-bottom-wrap {
	display: block;
	margin-bottom: 20px;

	@include mq($from: tablet) {
		@include outer-container(630px);
	}
}

.buy-bottom {
	@extend .product-inner;
	padding: 0 20px;

	@include mq($from: tablet) {
		padding: 0 30px;
	}
}

.buy-bottom-left {
	@extend .product-left;

	@include mq($from: tablet) {
		padding-top: 30px;
	}
}

.buy-bottom-right {
	@extend .product-right;
}

.buy-bottom-short-title {
	margin: 20px 0 10px;

	@include mq($from: tablet) {
		margin-top: 40px;
	}

	a {
		color: $dark-gray;
		font-weight: 300;
		font-family: $cheltenham;
		font-size: 24px;
		line-height: 26px;
	}
}

.buy-bottom-make-model {
	@extend .product-name;
	font-family: $franklin;

	a {
		color: $brand-pink;
		font-weight: 600;

		&:hover {
			color: $brand-darkpink;
		}
	}
}

.buy-bottom-pricebox {
	@extend .product-pricebox;
}

.buy-now-disclaimer {
	@extend .product-disclaimer;
}
