.tt-post--title {
	padding-top: 20px;
	background: $lightest-gray;
}

.tt-post--section {
	text-align: center;
	max-width: 860px;
	margin: 0 auto;
	font-size: 20px;
	font-weight: 700;
	text-transform: uppercase;
	color: $brand-green;
}

.entry-title {
	margin: 0 auto;
	padding: 0 20px 10px;
	color: $brand-darkgray;
	text-align: center;
	font-weight: 800;
	font-size: 32px;
	font-family: $stymie;
	line-height: 1.14;

	@include mq($from: tablet) {
		font-size: 50px;
	}

	@include mq($from: desktop) {
		padding: 40px 0 20px;
	}
}

.post-meta {
	margin: 0;
	padding-top: 0;
	background: $lightest-gray;
	text-align: center;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.33;
	@include clearfix();

	@include mq($from: tablet) {
		font-size: 14px;
		line-height: 1.5;
	}
}

.entry-meta {
	@extend .post-meta;
	margin: 0 auto;
}

.date {
	color: $brand-gray;
}

.content-preface,
.content-body {
	padding: 0;

	a {
		&.affiliate {
			color: $brand-pink;
			text-decoration: underline;
			font-weight: 600;

			&:hover {
				color: $brand-darkpink;
			}
		}
	}

	ul {
		ul {
			margin: 0;
			padding: 0;
		}
	}
}

.content-preface {
	padding-top: 2px;
	background: $lightest-gray;
}

.content {
	margin-bottom: 30px;

	h2,
	h3,
	h4,
	h5,
	h6 {
		font-weight: 800;
		font-family: $stymie;
	}

	h3 {
		font-size: 24px;
		margin-bottom: 10px;

		@include mq($from: desktop) {
			font-size: 26px;
		}
	}

	h4 {
		font-size: 20px;
	}

	ul,
	ol {
		padding: 0 20px;

		li {
			padding: 0 10px;
		}
	}
}

.summary {
	font-weight: 300;
	font-size: 18px;
	line-height: 1.4;

	@include mq($from: desktop) {
		font-size: 22px;
		line-height: 1.5;
	}

	a {
		color: $brand-pink;
		font-weight: 600;

		&:hover {
			color: $brand-darkpink;
		}
	}
}

.pullquote {
	margin-bottom: 20px;
	padding-left: 16px;
	width: 100%;
	border-left: 4px solid $brand-green;
	color: $brand-green;
	font-weight: 700;
	font-size: 18px;
	font-family: $stymie;
	line-height: 1.42;

	@include mq($from: tablet) {
		font-size: 22px;
	}

	&.pullquote-right {
		display: inline-block;
		padding-right: 16px;
		padding-left: 0;
		border-right: 4px solid $brand-green;
		border-left: 0;
	}
}

.wp-caption {
	display: block;
	margin: 30px 0;
}

.wp-caption-text {
	color: $dark-gray;
	font-weight: 300;
	font-size: 12px;
	line-height: 1.33;
	margin-top: 10px;

	@include mq($from: tablet) {
		font-size: 13px;
	}
}

.wp-caption-credit {
	color: $brand-medgray;
}

.credit {
	@extend .wp-caption-text;
	@extend .wp-caption-credit;
	font-size: 17px;
	line-height: 1.46;

	@include mq($from: desktop) {
		font-size: 18px;
		line-height: 1.56;
	}
}

.visualizer-front {
	overflow-x: scroll;
	overflow-y: hidden;
	max-width: 100%;
}
