.tt-footnotes {
	border-top: 1px solid $brand-lightestgray;
	font-weight: 300;
	font-size: 14px;
}

h3.tt-footnotes--title {
	color: $black;
	font-weight: 600;
	font-size: 20px;
	font-family: $franklin;
}

.tt-footnotes--list {

	.content & {
		padding: 0 0 0 15px;
	}
}

.tt-footnotes--list-item {
	margin-bottom: 10px;
	padding-left: 20px;
}
