.featured-gallery {
	background: $lightest-gray;
	padding-bottom: 20px;

	.gallery-full {
		display: block;

		@include mq($from: tablet) {
			width: 630px;
			margin: 0 auto;
		}

		img {
			margin: 0 auto;
		}
	}
}

.gallery {
	@include outer-container(100%);
	margin: 0 auto;
	@include clearfix;

	@include mq($from: tablet) {
		padding: 0;
	}

	a {
		display: block;
	}

	figure:first-of-type {
		float: left;
		display: block;
		width: 78%;
		margin: 0;

		@include mq($from: tablet) {
			width: 80%;
		}

		@include mq($from: desktop) {
			width: 74%;
		}
	}

	.gallery-full {
		display: block;
		margin: 0 auto;
		height: auto;
		border: 0;
	}

	figcaption {
		clear: both;
		padding-top: 5px;
		color: $brand-gray;
		font-size: 12px;
		line-height: 1.24;

		@include mq($from: tablet) {
			color: $dark-gray;
		}
	}

	.gallery-thumbs {
		margin: 0;
		padding: 0;
		text-align: right;

		li {
			float: right;
			margin: 0 0 4px;
			padding: 0;
			list-style-type: none;

			&:last-of-type {
				margin-bottom: 0
			}
		}
	}
}

.thumbs-wrapper {
	float: left;
	display: block;
	width: 20%;
	margin: 0;
}

.gallery-thumb {
	width: 100%;
	border: 4px solid $white;
	border-top: 2px;
	border-bottom: 2px;
	list-style-type: none;

	@include mq($from: tablet) {
		width: 114px;
		height: 76px;
		padding: 0;
		outline: 4px solid $white;
		outline-offset: -4px;
	}
}

.selected img,
.gallery-thumb:hover {
	border-top: 1px;
	border-right: 4px solid $brand-green;
	border-bottom: 1px;
	cursor: pointer;

	@include mq($from: tablet) {
		outline: 4px solid $brand-green;
		outline-offset: -4px;
	}
}

//@todo Courtney to remove after testing finished.
.size-full {
	width: 100%;
}
