.tt-sources {
	@extend .tt-footnotes;
}

.tt-sources--list {
	@extend .tt-footnotes--list;
}

.tt-sources--title {
	@extend .tt-footnotes--title;
}

.tt-sources--list-item {
	@extend .tt-footnotes--list-item;
}
