table th {
	font-weight: bold;
}

table td,
table th {
	padding: 9px 10px;
	text-align: left;
}

.responsive {
	font-size: 13px;
	border-bottom: 1px solid $brand-lightergray;
	border-right: 1px solid $callout-gray;

	th {
		border-bottom: 1px solid $callout-gray;
		border-top: 1px solid $callout-gray;
	}

	th:first-of-type {
		border-left: 1px solid $callout-gray;
		border-right: 1px solid $callout-gray;
	}

	th:nth-child(even),
	td:nth-child(even) {
		background: $brand-lightblue;
	}

	td:first-of-type {
		border-right: 1px solid $callout-gray;
		border-left: 1px solid $callout-gray;
	}

	td:first-child a {
		color: $brand-pink;
	}

	@include mq($until: desktop) {
		margin-bottom: 0;

		td,
		th {
			position: relative;
			overflow: hidden;
			white-space: nowrap;
		}

		th:first-child,
		td:first-child,
		td:first-child,
		&.pinned td {
			display: none;
		}
	}

	@include mq($from: desktop) {
		display: table;
		overflow: scroll;
		overflow-y: hidden;
		width: 630px;
	}
}

.pinned {
	font-size: 13px;

	@include mq($until: desktop) {
		position: absolute;
		top: 0;
		left: 0;
		overflow: hidden;
		overflow-x: scroll;
		width: 34%;
		background: $white;

		table th,
		table td {
			white-space: nowrap;
		}

		table {
			width: 100%;
			border-right: 0;
			border-left: 0;
		}

		th:first-of-type {
			border-bottom: 1px solid $callout-gray;
		}

		tr:first-of-type {
			font-weight: 600;
		}

		td:last-child {
			border-bottom: 0;
		}

		a {
			color: $brand-pink;
		}
	}
}

.table-wrapper {
	border-bottom: 1px solid $brand-lightergray;

	@include mq($until: desktop) {
		position: relative;
		overflow: hidden;
		margin-bottom: 30px;

		th {
			border-top: 1px solid $callout-gray;
		}

		tr:first-child {
			border-left: 1px solid $callout-gray;
		}

		td:first-of-type {
			border-right: 1px solid $callout-gray;
			border-left: 1px solid $callout-gray;
		}

		.scrollable {
			overflow: scroll;
			overflow-y: hidden;

			table {
				display: table;
				margin-bottom: 0;
				margin-left: 34%;
				border-right: 1px solid $callout-gray;
				border-bottom: 0;

				th:first-of-type {
					border-left: 1px solid $callout-gray;
				}
			}
		}
	}

	b,
	strong {
		font-weight: normal;
	}
}
