.tt-toc--wrap {
	@include outer-container(100%);
	padding-bottom: 30px;
	border-top: 3px solid $brand-green;
}

.tt-toc {
	padding: 0 20px 30px;
	border-bottom: 1px solid $brand-lightestgray;
	@include outer-container(630px);

	@include mq($from: tablet) {
		display: block;
		padding-left: 0;
		padding-right: 0;
	}
}

.tt-toc--title {
	color: $dark-gray;
	font-family: $stymie;
	letter-spacing: -0.5px;
	font-weight: 800;
	font-size: 28px;
	line-height: 1.29;
	margin-top: 30px;
	margin-bottom: 15px;

	@include mq($from: desktop) {
		font-size: 42px;
		letter-spacing: -0.5px;
		margin-top: 60px;
		margin-bottom: 10px;
	}
}

.tt-toc--subtitle {
	margin: 0 0 20px;
	color: $brand-medgray;
	text-transform: uppercase;
	letter-spacing: 0.3px;
	font-weight: 800;
	font-size: 14px;
}

.tt-toc--list {
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-size: 16px;

	@include mq($from: tablet) {

		@include one-half-nom();
		list-style-type: circle;

		&:last-of-type {
			@include one-half-nom();
		}
	}

	li {
		list-style-type: none;
		font-weight: 700;
		line-height: 30px;

		@include mq($from: tablet) {
			margin-left: 0;
		}

		a {
			color: $brand-blue;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}

		ul {

			li {
				list-style-type: none;
				font-weight: 400;

				@include mq($from: tablet) {
					margin-left: 20px;
				}

			}
		}
	}
}
