.history-wrap {
	padding: 0 20px;

	@include mq($from: tablet) {
		padding: 0;
	}
}

.history {
	@include outer-container(630px);
	margin-bottom: 20px;
	padding: 20px;
	border: 1px solid $brand-lightestgray;
	background: $brand-lightgrayalt;
	color: $dark-gray;
	font-size: 14px;
	line-height: 1.5;
	@include mq($from: tablet){
		padding: 30px;
	}
}

.history-first-date {
	display: block;
	padding-bottom: 10px;
}

.history-date {
	color: $dark-gray;
	font-weight: 600;
}

.history-body {
	font-weight: 500;
}

.history-rest-inner {
	display: none;
	margin-top: 10px;
}

.history-rest-body {
	margin-bottom: 10px;
}

.btn-history-collapse,
.btn-history-expand {
	display: block;
	padding: 10px 0 0;
	text-decoration: none;
	font-weight: 600;
	font-size: 12px;
	line-height: 1.67;
}

.history-collapse {
	margin-top: 5px;
}
