$fonts: (
	"Cheltenham" "../fonts/cheltenham-normal-200" 200 normal "Cheltenham",
	"Cheltenham" "../fonts/cheltenham-normal-300" 300 normal "Cheltenham",
	"Franklin" "../fonts/franklin-normal-300" 300 normal "Franklin",
	"Franklin" "../fonts/franklin-italic-300" 300 italic "Franklin",
	"Franklin" "../fonts/franklin-normal-500" 500 normal "Franklin",
	"Franklin" "../fonts/franklin-italic-500" 500 italic "Franklin",
	"Franklin" "../fonts/franklin-normal-600" 600 normal "Franklin",
	"Franklin" "../fonts/franklin-italic-600" 600 italic "Franklin",
	"Franklin" "../fonts/franklin-normal-700" 700 normal "Franklin",
	"Franklin" "../fonts/franklin-italic-700" 700 italic "Franklin",
	"Franklin" "../fonts/franklin-normal-800" 800 normal "Franklin",
	"Franklin" "../fonts/franklin-italic-800" 800 italic "Franklin",
	"Stymie" "../fonts/stymie-normal-100" 100 normal "Stymie",
	"Stymie" "../fonts/stymie-normal-200" 200 normal "Stymie",
	"Stymie" "../fonts/stymie-normal-300" 300 normal "Stymie",
	"Stymie" "../fonts/stymie-italic-300" 300 italic "Stymie",
	"Stymie" "../fonts/stymie-normal-500" 500 normal "Stymie",
	"Stymie" "../fonts/stymie-italic-500" 500 italic "Stymie",
	"Stymie" "../fonts/stymie-normal-700" 700 normal "Stymie",
	"Stymie" "../fonts/stymie-italic-700" 700 italic "Stymie",
	"Stymie" "../fonts/stymie-normal-800" 800 normal "Stymie",
	"Stymie" "../fonts/stymie-italic-800" 800 italic "Stymie",
	"Stymie" "../fonts/stymie-normal-900" 900 normal "Stymie",
	"Karnak Text" "../fonts/karnak-small-normal-400" 400 normal "Karnak Text",
);

@each $font in $fonts {
	@font-face {
		font-family: nth($font, 1);
		src: url(nth($font, 2) + ".eot");
		src: url(nth($font, 2) + ".eot?#iefix") format("embedded-opentype"),
		url(nth($font, 2) + ".woff2") format("woff"),
		url(nth($font, 2) + ".ttf") format("truetype");
		font-weight: nth($font, 3);
		font-style: nth($font, 4);
	}
}
