$font__main: "Alegreya", serif;
$font__header: "Alegreya", serif;
$font__header-widget: "Alegreya SC", serif;
$font__meta: "Alegreya SC", serif;
$font__nav: "Alegreya Sans", serif;
$font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
$font__pre: "Courier 10 Pitch", Courier, monospace;

$font__size-header: 36;
$font__size-main: 20;
$font__size-meta: 13;
$font__size-code: 15;

$font__line-height-body: 1.57142857143;
$font__line-height-pre: 1.57142857143;
