// Utility classes

// Floats.
.clearfix {
	@include clearfix;
}

.center-block {
	@include center-block;
}

.pull-right {
	float: right !important;
}

.pull-left {
	float: left !important;
}

// Toggling content.
.hidden {
	display: none !important;
}

.show {
	display: block !important;
}

.invisible {
	visibility: hidden;
}

.text-hide {
	@include text-hide;
}

// For Affix plugin.
.affix {
	position: fixed;
}

// Visibility utilities.
@include responsive-invisibility(".visible-sm");
@include responsive-invisibility(".visible-md");
@include responsive-invisibility(".visible-lg");

.visible-sm-block,
.visible-sm-inline,
.visible-sm-inline-block,
.visible-md-block,
.visible-md-inline,
.visible-md-inline-block,
.visible-lg-block,
.visible-lg-inline,
.visible-lg-inline-block {
	display: none !important;
}

@media (max-width: $screen-sm-max) {
	@include responsive-visibility(".visible-sm");
}

.visible-sm-block {
	@media (max-width: $screen-sm-max) {
		display: block !important;
	}
}

.visible-sm-inline {
	@media (max-width: $screen-sm-max) {
		display: inline !important;
	}
}

.visible-sm-inline-block {
	@media (max-width: $screen-sm-max) {
		display: inline-block !important;
	}
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	@include responsive-visibility(".visible-md");
}

.visible-md-block {
	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		display: block !important;
	}
}

.visible-md-inline {
	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		display: inline !important;
	}
}

.visible-md-inline-block {
	@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
		display: inline-block !important;
	}
}

@media (min-width: $screen-lg-min) {
	@include responsive-visibility(".visible-lg");
}

.visible-lg-block {
	@media (min-width: $screen-lg-min) {
		display: block !important;
	}
}

.visible-lg-inline {
	@media (min-width: $screen-lg-min) {
		display: inline !important;
	}
}

.visible-lg-inline-block {
	@media (min-width: $screen-lg-min) {
		display: inline-block !important;
	}
}

@media (max-width: $screen-sm-max) {
	@include responsive-invisibility(".hidden-sm");
}

@media (min-width: $screen-md-min) and (max-width: $screen-md-max) {
	@include responsive-invisibility(".hidden-md");
}

@media (min-width: $screen-lg-min) {
	@include responsive-invisibility(".hidden-lg");
}
