.tt-footer {
	@include outer-container(100%);

	margin: 0 auto;
	border-top: 3px solid $brand-green;
	background: $brand-darkgray;
	text-align: left;
	font-weight: 500;
	font-style: normal;
	font-size: 17px;
	line-height: 1.3;

	.tt-footer--wrap {
		@include outer-container(960px);
	}
}

.tt-footer--info {
	padding: 10px 0;
	border-bottom: 1px solid $brand-gray;
}

.tt-footer--info-blurb {
	padding: 0 20px;
	color: $white;
	font-weight: 300;
	font-style: normal;
	font-size: 17px;
	line-height: 24px;

	@include mq($from: desktop) {
		padding: 0;
	}


	a {
		color: $white;
		text-decoration: underline;
	}
}

.tt-footer-nav--wrap {
	padding: 24px 20px 0;
	width: 100%;
	font-size: 15px;

	@include clearfix;

	@include mq($from: desktop) {
		@include one-half;

		padding: 24px 0 30px;
	}


	.tt-footer--list {
		width: 100%;
		line-height: 1.8;

		@include mq($from: tablet) {
			@include one-half-nom;
		}


		a {
			color: $brand-lightergray;
			font-weight: 300;
			text-decoration: none;

			&:hover {
				color: $white;
			}
		}

		&.tt-footer-links-about {
			a {
				font-weight: 500;
				color: $white;
			}
		}

		.tt-footer--list-item {
			margin-bottom: 4px;
			line-height: 1.8;
		}
	}
}

.tt-nyt-logo--wrap {
	padding: 24px 20px;

	@include span-columns(12);

	@include mq($from: desktop) {
		@include one-half-nom;

		margin-bottom: 30px;
		padding: 120px 0 0;
	}
}

.tt-nyt-logo-img {
	@include mq($from: desktop) {
		float: right;
	}
}

.tt-nyt-logo-copyright--wrap {
	clear: both;
	padding: 0;

	@include mq($from: desktop) {
		padding: 5px 0 0;
	}
}

.tt-nyt-logo-copyright {
	color: $brand-lightergray;
	font-weight: 300;
	font-size: 12px;

	@include mq($from: desktop) {
		text-align: right;
	}
}
