.tt--wrap {
	@include outer-container(100%);
}

.tt--header-wrap {
	background: $white;
}

.tt-header {
	@include fill-parent();
	@include clearfix();
	padding: 0;
	height: 46px;
	border-top: 1px solid $black;
	border-bottom: 1px solid $black;
	background: $black;
	color: $white;

	@include mq($from: tablet) {
		height: 64px;
	}
}

.tt-header--logo {
	@include span-columns(9);
	display: block;

	@include mq($from: tablet) {
		width: 255px;
	}
}

.logo {
	padding: 0 20px;
	margin: 0;
	letter-spacing: -0.1px;
	font-weight: bold;
	font-size: 29.9px;
	line-height: 46px;

	@include mq($from: tablet) {
		padding: 0 30px;
		border-right: 1px solid $black;
		font-size: 35.2px;
		line-height: 64px;
	}

	.tested {
		color: $brand-green;
	}
}

.tt-header--search {
	z-index: 500;
	display: none;
	padding: 17px 42px 23px;
	background: $black;
	@include span-columns(12);
	@include display(none);
	color: $brand-gray;
	transition: width 0.4s ease;
	transition-delay: 0.4s;
	transform: translate(0);

	@include mq($from: tablet) {
		display: block;
		float: left;
		width: auto;
		overflow: auto;
		@include span-columns(7);
		margin-right: 0;
		padding: 0;
	}

	@include mq($from: desktop) {
		@include span-columns(8);
	}

	&.tt-header--search--open {
		display: block;
		margin-bottom: 12px;
		transform: translate(0);
	}

	.tt-header--search-group {
		position: relative;
		margin-top: 10px;
		width: 100%;
		height: 100%;

		&::before {
			position: absolute;
			top: 23px;
			left: 24px;
			width: 17px;
			height: 17px;
			background: url("../img/icon_search_nyt.svg") 50% / contain no-repeat;
			content: "";

			@include mq($from: tablet) {
				top: 10px;
				left: 20px;
				z-index: 10;
				display: block;
				width: 20px;
				height: 20px;
			}
		}
	}

	.tt-header--search-query {
		position: absolute;
		top: 50%;
		right: 65px;
		display: block;
		overflow: hidden;
		margin-top: -11px;
		width: 22px;
		height: 22px;
		border-radius: 50%;
		background-color: $black;
		text-indent: 100%;
		white-space: nowrap;
		opacity: 0;
		cursor: pointer;
		transition: opacity 0.4s ease;
		transition-delay: 0s;

		@include mq($from: tablet) {
			right: 20px;
		}

		&::after,
		&::before {
			position: absolute;
			top: 10px;
			left: 5px;
			width: 12px;
			height: 2px;
			background-color: $black;
			content: "";
			transform-origin: 50% 50%;
		}
	}

	.tt-header--search-input {
		box-sizing: border-box;
		padding: 6px 12px 8px;
		width: calc(100% - 5px - 85px);
		height: 40px;
		border: 1px solid $black;
		border-radius: 5px;
		color: $brand-gray;
		background: $black;
		vertical-align: top;
		font-weight: 300;
		font-size: 14px;
		line-height: 26px;
		-webkit-appearance: none;

		@include mq($from: tablet) {
			overflow: hidden;
			padding: 14px 0 8px 55px;
			width: 100%;
			height: 100%;
			border: 0;
			text-overflow: ellipsis;
			white-space: nowrap;
			font-size: 20px;
		}
	}

	.tt-header--search-btn {
		position: relative;
		display: inline-block;
		float: right;
		overflow: hidden;
		width: 100px;
		height: 40px;
		border: 0;
		box-shadow: none;
		border-radius: 5px;
		background: $brand-red;
		color: $white;
		text-align: center;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 700;
		font-size: 0.75rem;
		cursor: pointer;

		@include mq($from: tablet) {
			display: none;
		}
	}
}

.tt-mobilesearch--wrap {
	position: absolute;
	top: 0;
	right: 0;
	width: 44px;
	height: 44px;
	cursor: pointer;
}

.tt-mobilesearch--icon {
	top: 10px;
	display: block;
	overflow: hidden;
	margin: 0 14px 0 auto;
	width: 21px;
	height: 21px;
	background: url("../img/icon_search_nyt.svg") 50% no-repeat;
	text-indent: 110%;
	white-space: nowrap;

	@include mq($from: tablet) {
		top: 20px;
		display: none;
		margin-right: 30px;
	}

	&::after {
		visibility: hidden;
		overflow: hidden;
		width: 0;
		height: 0;
		content: url("../img/icon_search_nyt.svg");

		@include mq($from: tablet) {
			display: none;
		}
	}
}

.tt-header--ad {
	padding: 15px 0;
	background: $brand-lightestgray;
	@extend %hide-for-mobile;

	.ad,
	img {
		margin: 0 auto;
		width: 728px;
		height: 90px;
	}
}

.tt-header--disclaimer {
	background: $brand-green;
}

.tt-header--disclaimer-wrap {
	padding: 20px;
	@include outer-container(700px);
	border-bottom: 1px solid $brand-lightgray;
}

.tt-header--disclaimer-text {
	color: $white;
	font-weight: 300;
	font-size: 12px;
	line-height: 1.6;
	opacity: 1;

	@include mq($from: tablet) {
		@include outer-container(630px);
		font-size: 14px;
		line-height: 19px;
	}
}
