.tt-main {
	@include outer-container(100%);
	margin: 0 auto;
}

.entry-title {
	@include outer-container(860px);
}

.tt-article {
	@include outer-container(100%);
	overflow: hidden;
	background: $white;
	color: $black;
	text-align: left;
	font-weight: 300;
	font-size: 17px;
	line-height: 1.46;

	@include mq($from: desktop) {
		font-size: 18px;
		line-height: 1.56;
	}
}

.content,
.summary {
	width: 100%;

	@include mq($until: tablet) {
		padding: 0 20px;
	}

	@include mq($from: tablet) {
		@include outer-container(630px);
	}
}
